body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:#dbc7be;
  color:#31393c;
  font-family: 'Roboto', sans-serif;
}

.divRange {
  max-width: (100%/4);
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.txtRange {
  width: 25px;
}

#divColor {
  min-height: 20vh;
  min-width: 20vw;
  border: solid 1px #31393c;
  margin-top:20px;
}

label {
  padding-bottom: 20px;
}

input[type=range]{
  -webkit-appearance: none;
  background-color: #dbc7be;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ce4760;
  margin-top: -4px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #dbc7be;
}
